textarea {
	/* background-color: red; */
	width: 100%;
	margin-bottom: 0.8rem;
	resize: none;
	min-height: 10rem;
	content: attr(data-replicated-value) " ";
	white-space: pre-wrap;
	overflow: hidden;
}

.section-2 p {
	/* background-color: rgba(128, 128, 128, 0.164); */
	padding: 0.5rem;
	border-radius: 5px;
}

.poemArticle p {
	margin: 0;
}
